body{
    font-size: 20px;
    display: flex;
    padding-right: 40px;
    background-color: #f4dec2;
}
ul{
    padding: 0;
}

.nav_bar{
    display: flex;
    height: 100vh;
    min-width: 20%;
    padding-top: 40px;
    justify-content: center;
    text-align: center;
    color: #9577f0;
}

.nav_list {
    list-style: none;
    height: 8vh;
    font-size: 2vw;
    font-weight: lighter;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.content{
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    justify-content: center;
}

.image{
    align-self: center;
    justify-self: center;
    max-height: 60vh;
    max-width: 30vw;
}

.text{
    text-align: center;
    font-size: 1.7vw;
    color: #359aae;
    margin: 0 auto;
}
